body {
  font-family: helvetica, sans-serif;
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
}
.header {
  background-image: url(resources/images/the-flatiron-building.png);
  text-align: center;
  color: white;
}
